header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  padding-top: 1rem;
}
.detalhe {
  height: 20px;
  border-bottom: var(--detail) solid 4px;
  border-left: var(--detail) solid 4px;
  border-right: var(--detail) solid 4px;
  width: 72%;
  margin: 0 auto;
  position: relative;
}
.titulo {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  letter-spacing: 0.22rem;
  font-size: 2rem;
}
.pontuacao {
  font-size: 1.9rem;
  font-family: "EB Garamond", serif;
  font-weight: 300;
}
.pontuacao-bg {
  text-align: center;
}
